<div class="wrapper">
        <div id="text">
                joint telemetry
                <button class="toggle" (click)="toggleJointSubscribe()"
                [style.background-color]="subscribeJointButton === 'Subscribe' ? 'limegreen' : 'red'">{{subscribeJointButton}}</button>
        </div>
        
        <div class="table" id="speed">
                <canvas id="velocityCanvas"></canvas>
        </div>
        <div class="table" id="rockers">
                <canvas id="rockerPositionCanvas"></canvas>
        </div>
</div>