#wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

#map{
    margin-top: 30px;
    background-color:yellow;
    position: absolute;
    z-index: 0;
    
}

#top{
    position: absolute;
    margin-top: 30px;
    background-color: transparent;
    z-index: 1;
}