


<div class = "grid">

    <div class="row">

        <div class="section">
            <app-steering>
            </app-steering>
        </div>

        <div class="section">
            <app-video-feed>
          </app-video-feed>
        </div>

        <div class="section">
           <app-telemetry>
          </app-telemetry>
        </div>

    </div>

    <div class="row"id="lastrow">

        <div class="section">
            <app-map>
            </app-map>
        </div>

    </div>

</div>