<h1>Rover Steering</h1>

<button (click)="toggleSend()">{{sendButtonText}}</button>

<div>
    <section>
        <p>Forward Torque</p>
        <mat-slider vertical [(ngModel)]="forwardValue" min="-5" max="5" step="0.1" thumbLabel
            tickInterval="0.1" (mouseup)="updateMsg()"></mat-slider>
        <button (click)="resetForw()">0</button>
    </section>
    <section>
        <p>Rotational Torque</p>
        <mat-slider [(ngModel)]="rotationalValue" min="-5" max="5" step="0.1" thumbLabel tickInterval="0.1"
            (mouseup)="updateMsg()"></mat-slider>
        <button (click)="resetRot()">0</button>
    </section>
    <section><button (click)="reset()">STOP</button></section>


</div>