

.mat-slider-horizontal {
  width: 200px;
}

.mat-slider-vertical {
  height: 200px;
}

  ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: blue;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: lightgrey;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: navy;
} 




  #wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #send{
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  }

  .type{
    display: flex;
    flex-direction: column;
  }

  .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;


  }

  .text{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .reset{
    background-color: yellow; 
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
  }

  .desc{
    margin-right: 5px;
  }

  .val{
    font-weight: bold;  
    font-variant: small-caps;
    background-color: lightgrey;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }

  #reset{
    margin-top: 30px;
  }


    



  

