* {
    box-sizing: border-box;
    font-size: 20px;

  }

  .backdrop{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 5px;
    
}

.status{

    display: flex;
    justify-content: left;


}

.connect{

    display: flex;
    justify-content: right;
    align-items: center;
    
}

#text{
    margin-right: 5px;
}

#state{
    font-weight: bold;  
    font-variant: small-caps;
    background-color: lightgrey;
    border-radius: 5px;
}

#ip{
    background-color: lightgrey;
    border: none;
    height: 75%;
    margin-right: 10px;
}

#conn{
    background-color: greenyellow;
    color: darkgreen;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;

}
#disc{
    background-color: red;
    color: darkred;    
    border: none;
    border-radius: 5px;
    display: inline-block;

    

}





